<h1>Customers</h1>

<table>
	<tr>
		<th>Id</th>
		<th>Name</th>
		<th>Email</th>
		<th></th>
		<th></th>
		<th></th>
	</tr> 
	<% _.each(customer, function(customer){ %>
	<tr>
		<td><%= customer.id %></td>
		<td><%= customer.name %></td>
		<td><%= customer.email %></td>
		<td><a href="/customer/show/<%= customer.id %>">Show</a></td>
		<td><a href="/customer/edit/<%= customer.id %>">Edit</a></td>
		<td><a href="/customer/delete/<%= customer.id %>">Delete</a></td>
	</tr>
	<% }) %>
</table>